.cardContainer {
  height: 100px;
  width: 100px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.emojiBtn {
  height: 100%;
  width: 100%;
  background-color: #ffffff33;
  border-radius: 20px;
  border: solid 2px #ffffff33;
  cursor: pointer;
  outline: none;
}
.emoji {
  height: 65%;
  width: 65%;
}
@media screen and (min-width: 576px) {
  .cardContainer {
    height: 120px;
    width: 120px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .cardContainer {
    height: 140px;
    width: 140px;
  }
}

@media screen and (min-width: 992px) {
  .cardContainer {
    height: 220px;
    width: 220px;
  }
}
